/* Général*/

body {
  margin: auto 0;
}

/*Titres, tailles et positions*/
h1, h2, h4, h5 {
  text-transform: uppercase;
}

h2, h4 {
  font-size: 40px;
}

h2, h4 {
  padding-top: 20px;
  margin-bottom: 20px;
}

.texteGris {
  color: #65696e;
}

/*Polices*/
@font-face {
  font-family: 'RobotoBold';
  src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('fonts/Roboto-Light.ttf');
}

h1, h2, h4 {
  font-family: 'RobotoBold', Arial, serif;
}

h3, h5, .bold {
  font-family: 'RobotoMedium', Arial, serif;
}

.regular {
  font-family: 'RobotoRegular', Arial, serif;
}

.medium {
  font-family: 'RobotoMedium', Arial, serif;
}

.light {
  font-family: 'RobotoLight', Arial, serif;
}

/*Border radius sur les boutons*/
.divBoutonInfo, button {
  border-radius: 4px;
}

/*Titre et sous-titre des sections Projets et Services*/
h2, h4, .sousTitreProjets, .sousTitreServices {
  text-align: center;
  max-width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}

/*Suppression de la "décoration" des liens*/
.boutonInfo, .navbarProjet a, .navbar a {
    text-decoration: none;
}

/*Suppression des puces de listes*/
.navbarProjet ul, .navbar ul {
  list-style-type: none;
}

/*Positionnement de la div de séparation*/
.separation {
  position: relative;
  padding-bottom: 20px;
  height: 10px;
  width: 100%;
}

.ligneGrise {
  position: absolute;
  height: 2px;
  background-color: #dcdcdc;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 130px;
  text-align: center;
  top:13px;
}

/*Style et Positionnement des icons circle*/
.iconeSeparation {
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  text-align: center;
}

.cercleBlanc {
  color: #3491b2;
  border-radius: 50%;
  border: 5px solid white;
  top:4px;
}

/*Partie1*/

/*Header*/

/*Alignement du logo et de la navbar, espacement entre les deux*/
#menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2%;
}

/*navbar*/

/*Positionnement du logo*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 15%;
}

.divNavbar {
  margin-right: 14%;
}

/*Alignement horizontal*/
.navbar ul {
  display: flex;
  flex-wrap: wrap;
}

.navbar li {
  width: 90px;
}

/*Style des liens de navigation, Espacement entre les liens de navigation*/
.navbar a {
  padding-bottom: 3px;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}

/*Style du lien sélectionné*/
.navbar a:hover {
  padding-top: 35px;
  font-weight: bold;
  border-top: 2px solid #3491b2;
}

/*En-tête image et titre*/
#sectionSlider {
  position: relative;
  margin-top: 20px;
}

.imageBanniere {
  width: 100%;
}

/*Texte*/
.presentation {
  position: absolute;
  margin-left: 15.5%;
  margin-right: 50%;
  margin-top: -25.5%;
}

h1 {
  font-size: 2vw;
}

.sousTitre {
  margin-top: -2%;
}

.texteBleu {
  color: #3491b2;
}

.texteBlanc {
  color: white;
}

/*Bouton*/
.divBoutonInfo, .boutonInfo {
  background: #3491b2;
}

.divBoutonInfo {
  margin-top: 3%;
  width: 140px;
  height: 45px;
  text-align: center;
  border-bottom: 5px solid #3491b2;
}

.boutonInfo {
  line-height: 50px;
  color: white;
  font-size: 1.2em;
}

 .divBoutonInfo:hover, button:hover {
  border-bottom: 5px solid #287e9c;
  transition-duration: 1s;
}

/*blod flèches slider*/
.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -20%;
}

/*Flèches slider*/
.fa-angle-left, .fa-angle-right {
  color: white;
  background-color: black;
  opacity: 0.30;
}

.fa-angle-left {
  padding: 10px 10px 10px 0px;
  border-radius: 0 2rem 2rem 0;
}

.fa-angle-right {
  padding: 10px 0px 10px 10px;
  border-radius: 2rem 0 0 2rem;
}

/*Définition de la timeline en bas de la photo*/
.timeline {
  position:absolute;
  display: flex;
  width: 100%;
  height: 5px;
  margin-top:-9px;
}

.timelineBleu {
  width: 15%;
  background: #3491b2;
}

.timelineOpacity {
  width: 85%;
  background-color: black;
  opacity: 0.2;
}

/*************************************************************************/

/*Partie2*/

/*Position titres de texte*/
h3 {
  margin-bottom: 0;
  margin-top: 30px;
}

img {
  max-width: 100%;
}

/*Conteneur flexbox*/
#conteneurServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

/*Taille de la partie droite*/
#servicesInfo {
  width: 600px;
  margin-left: 5%;
  margin-top: 60px;
}

/*Position des icons face au texte*/
.fa-chart-line, .fa-cubes, .fa-chart-pie {
  float: left;
  border-radius: 50%;
  padding: 20px;
  color: #3491b2;
  border: 1px solid #dbdbdb;
  margin-right: 28px;
}

.iconeLaterale {
  color: #3491b2;
  position: absolute;
  margin-top: 30px;
  margin-left: -40px;
  border-radius: 20px;
  border: 5px solid white;
}

/*************************************************************************/

/*partie3*/
#sectionProjets {
  background-color: #eeecec;
}

.sousTitreProjets {
  padding-bottom: 30px;
}

/*Conteneur des boutons et leur placement*/
#conteneurBouton{
  margin-right: 30px;
  margin-bottom: 50px;
}

.navbarProjet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Alignement horizontal*/
.navbarProjet ul {
  display: flex;
  flex-wrap: wrap;
}

/*Paddings et décoration des boutons*/
.navbarProjet a {
  color: black;
  padding-bottom:15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #dcdcdc;
  border-bottom: 5px solid #dcdcdc;
}

.navbarProjet li {
  position: relative;
}

/*Changement de style du bouton au hover*/
.navbarProjet a:hover {
  background-color: #3491b2;
  color: white;
  border-bottom: 5px solid #287e9c;
}

/*Style et position de l'icon sous le bouton*/
.fa-caret-down{
  position: absolute;
  color: #287e9c;
  top: 25px;
  right: 37%;
  opacity: 0;
}

/*Apparition de l'icon au hover*/
.navbarProjet ul li:hover .fa-caret-down {
  opacity: 1;
}

/*border radius des boutons*/
.borderAllWorks {
  border-radius: 7px 0px 0px 7px;
}

.borderPortfolio {
  border-radius: 0px 7px 7px 0px;
}


/*Conteneur photos*/
/*Dimensions photos*/
.pic {
  margin: auto;
  height: 200px;
  width: 320px;
}

/*Définition du conteneur*/
#conteneurPortfolio {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Dimensions et position de la figure*/
.figurePortfolio {
  margin: auto;
  height: 200px;
  width: 320px;
  position: relative;
  padding-bottom: 30px;
}

/*Dimensions, position et effets de la figcaption*/
.captionPortfolio {
  position: absolute;
  bottom: 30px;
  color: white;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-duration: 2s;
}

.captionPortfolio:hover {
  opacity: 1;
}

/*Opacité lorsque l'on passe sa souris*/
.figurePortfolio:hover .captionPortfolio {
  opacity: 1;
}

/*Taille, position et superposition du titre*/
.client {
  font-size: 1.4em;
  margin-top: 5px;
  margin-left: 15px;
  z-index: 2;
}

/*Taille, position et superposition du texte*/
.descriptionClient {
  font-size: 1.2em;
  margin-top: 0px;
  margin-left: 15px;
  z-index: 2;
}

/*Affichage lors du hover*/
.captionPortfolio::after {
  position: absolute;
  top: -28px;
  height: 50px;
  width: 50px;
  background-color: #3491b2;
  content: '';
  border-radius: 50%;
  right: 11px;
}

.captionPortfolio::before {
  position: absolute;
  top: -33px;
  height: 60px;
  width: 60px;
  background-color: white;
  content: '';
  color: #3491b2;
  border-radius: 50%;
  right: 6px;
}

/*position et superposition de l'icon*/
.fa-eye {
  position: absolute;
  top: -10px;
  right: 24px;
  z-index: 1;
}

/*************************************************************************/

/*Partie4 Footer*/

/*Intérieur du formulaire*/
form {
margin : 15px;
}

h5 {
  font-size: 20px;
  margin-top: 20px;
}

.adresse {
  margin-top: -20px;
  margin-bottom: -10px;
}

h5, .adresse, .sendmessage {
  text-align: center;
}

.ligneAdresse {
  margin-top: -15px;
}

textarea {
  height: 173px;
}

input, textarea {
  margin-top: 10px;
  font-family: 'RobotoRegular';
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #EBE9ED;
  width: 320px;
}

button {
  border: none;
  font-size: 1em;
  color: white;
  padding: 10px 10px 6px 10px;
  margin-top: 10px;
  background: #3491b2;
  border-bottom: 5px solid #3491b2;
}

@media all and (min-width: 991px) {

/*Hauteur de la section*/
#sectionContact {
  margin: 0;
  height: 630px;
}

/*Placement de google map*/
#containerMap {
  width: 100%;
}

.googleMap {
  position: absolute;
  width: 100%;
  z-index: 1;
}

/*Couleur et opacité sur la map*/
.mapOpacity {
  width: 100%;
  height: 630px;
  background-color: #287e9c;
  position: absolute;
  opacity: 0.3;
  z-index: 2;
  /* pointer-events: none; */
  background-size: cover;
  background-repeat: no-repeat;
}

iframe {
  width: 100%;
}

/*Formulaire de contact*/
.formulaire {
  position: absolute;
  margin-left: 62%;
  width: 360px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  margin-top: 55px;
}

/*Intérieur du formulaire*/
form {
margin : 15px;
}

h5 {
  font-size: 20px;
  margin-top: 20px;
}

.adresse {
  margin-top: -20px;
  margin-bottom: -10px;
}

h5, .adresse, .sendmessage {
  margin-left: 20px;
}

.ligneAdresse {
  margin-top: -15px;
}

textarea {
  height: 173px;
}

input, textarea {
  margin-top: 10px;
  font-family: 'RobotoRegular';
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #EBE9ED;
  width: 320px;
}

button {
  border: none;
  font-size: 1em;
  color: white;
  padding: 10px 10px 6px 10px;
  margin-top: 10px;
  background: #3491b2;
  border-bottom: 5px solid #3491b2;
}
}


/*************************************************************************/

/*Media Queries*/

@media all and (max-width: 991px) {

  /*Header*/
  /*Navbar*/
  #menu {
    flex-direction: column;
    justify-content: center;
  }

  .divNavbar {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .navbar ul {
    flex-direction: row;
  }

  /*Style du lien sélectionné*/
  .navbar a:hover {
    padding-top: 5px;
    font-weight: bold;
    border-top: 2px solid #3491b2;
  }

  /*Positionnement du logo*/
  .logo {
    justify-content: center;
    padding-left: 60px;
  }

  /*Position du bloc presentation*/
  .presentation {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: -30%;
  }

  /*Taille du titre h1*/
  h1 {
    font-size: 1.8em;
  }

  /*Position du bouton de présentation*/
  .divBoutonInfo {
    margin: auto;
    margin-top: 8%;
  }

  /*Services*/
  #sectionServices {
    height: auto;
  }

  /*Titre et sous-titre des sections Projets et Services*/
  .sousTitreProjets, .sousTitreServices {
    padding-top: 20px;
  }

  #conteneurBouton {
    padding-top: 20px;
  }

  /*Position du h5*/
  h5 {
    padding-top: 20px;
  }

  /*position de la map et du formulaire*/

  #containerMap {
    width: 100%;
  }

  .googlemap, iframe {
    width: 100%;
  }

  .formulaire {
    margin: auto;
    width: 360px;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.8);
    }

  button {
    margin-left: 30%;
    }

}


@media all and (max-width: 768px) {

  /*Haut de page*/
  #sectionSlider {
    background-image: none;
    height: auto;
  }

  /*Couleur du texte qui change pour la lisibilité*/
  .texteBlanc {
    color:black;
    margin-top:60px;
    margin-bottom: 60px;
  }

  #sectionSlider {
    height: 250px;
  }

  .presentation {
    margin: 0;
  }

  /*Suppression de la timeline en bas de la photo et de la navigation*/
  .timeline, .navigation, .imageBanniere {
    display: none;
  }

  /*Footer*/
  .formulaire {
    width: 350px;
  }

  /*Largeur du formulaire adapté*/
  input, textarea {
    width: 300px;
  }

  /*Centrage du titre Contact et informations*/
  h5, .adresse {
    margin-left: auto;
    margin-right: auto;
  }

}

@media all and (max-width: 480px) {

  /*Position du header*/
  #menu {
    justify-content: center;
    margin-right: 0%;
    margin-left: 0%;
  }

  /*Espace au dessus de la navbar*/
  .divNavbar {
    padding-top: 15px;
  }

  .navbar ul {
    margin: 0;
  }

  /*Style du lien sélectionné*/
  .navbar a:hover {
    border-top: none;
    font-weight: bold;
  }

  #conteneurBouton {
    display: none;
  }

  /*Largeur du formulaire*/
  .formulaire {
    width: 250px;
  }

  /*Largeur des entrées du formulaire*/
  input, textarea {
    width: 200px;
  }

}
